<div>
    <form
    class="newsletter-placeholder"
    action="https://buttondown.email/api/emails/embed-subscribe/pmadruga"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/pmadruga', 'popupwindow')"
    class="embeddable-buttondown-form"
    >
        <label for="bd-email"></label>
        <input type="email" name="email" id="bd-email" class="button" placeholder="e-mail" />
        <input type="hidden" value="1" name="embed" />
        <input type="submit" class="button button-newsletter" value="Subscribe" />
        {{/*  <p>
            <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
        </p>  */}}
    </form>
</div>