<div class="newsletter-form-wrapper">
    <!-- <span>Subscribe to my <b>newsletter</b> below 👇</span> -->
    <form class="newsletter-placeholder" action="https://buttondown.email/api/emails/embed-subscribe/hellopedro"
        method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/hellopedro', 'popupwindow')"
        class="embeddable-buttondown-form" id="bd-email">
        <label for="bd-email_input"></label>
        <input type="email" name="email" id="bd-email_input" class="button" placeholder="e-mail" />
        <input type="hidden" value="1" name="embed" />
        <button type="submit" class="button button-newsletter">Subscribe </button>

    </form>
</div>